<div>
    <!--<post posttype="editPost" postdata="postData"></post>-->
    <div class="ui stackable grid">
        <div class="twelve wide column">
            <div ng-if="editPostData">
                <post posttype="editPost" postdata="editPostData"></post>
            </div>
            <div ng-if="!editPostData">
                Select a post to Edit!
            </div>
        </div>
        <div class="four wide column">
            <scrolling-posts ng-if="allPosts !=null" data="allPosts" callfnc="getSelectedPost(message)"></scrolling-posts>
            
        </div>
    </div>

    <div ng-if="allPosts==null" class="ui active inverted dimmer">
                <div class="ui text loader">Loading</div>
            </div>
</div>